* {
    margin: 0;
    padding: 0;
}

#navbar{
    flex-grow: 1;
    border-bottom: solid 5px #175BA6;
}

#appBar{
    position: static
}

#furryMinder{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
#login{
    color: inherit
}
#componentsGrid
{
    padding-top: 20px;
    background-color: #D3D3D3;
}


