.header{
    background-color: #1833EB;
    padding: 30px 40px;
    color: white;
    text-align: center;
    font-family: "Courier New";
}

body.active-modal{
    overflow-y:hidden;
}

.Add-Btn{
    padding: 10px 20px;
    display: block;
    margin-top: -125px;
    margin-left: 1475px;
    font-size: 18px;
    font-family: "Courier New";
}

.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    font-family: "Courier New";
}

.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.save-modal{
    position: center;
    bottom: 10px;
    right: 20px;
}

