
.header{
    background-color: #1c74d4;
    /*padding: 30px 40px;*/
    display: inline-block;
    width: 100%;
    line-height: 150px;
    height: 150px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: "Courier New";
    border: solid 5px #175BA6;
    border-radius: 10px 10px 3px 3px;

}
body.active-modal{
    overflow-y:hidden;
}

.box-c{
    width:100vw;
    height: 100vh;
    position: fixed;
}

.Add-Btn{
    /*padding: 10px 20px;*/
    float: right;

    /*margin-top: -125px;*/
    /*margin-left: 700px;*/
    font-size: 18px;
    font-family: "Courier New";
}

.Calendar-Btn{
    /*padding: 10px 20px;*/
    float: left;

    /*margin-top: -125px;*/
    /*margin-left: 700px;*/
    font-size: 18px;
    font-family: "Courier New";
}

.box{
    padding: 10px 20px;
    display: block;
    margin-top: 100px;
    margin-left: 500px;
    font-size: 18px;
    font-family: "Courier New";
}

.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.edit-modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.edit-modal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    font-family: "Courier New";
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    font-family: "Courier New";
}

.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.save-modal{
    position: center;
    bottom: 10px;
    right: 20px;
}

