.sprite {
    width: 100%;
    min-width: 20px;
    aspect-ratio: 1/1;
    background-size: 700%;
    animation: play 7s steps(7) infinite
}

@keyframes play {
    from { background-position: 0 }
    to { background-position: 700% }
}